.desk-hash {
  display: none;
  position: absolute;
  z-index: 101;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  min-width: 400px;
  padding: 50px 60px;
  background: #00f;
  color: #fff;
  text-align: left;

  &.is-active {
    display: block;
  }

  form {
    margin: 50px auto;
    width: 300px;
  }

  form h1 {
    margin: 0 0 30px 0;
    font-size: 60px;
    text-align: center;
  }

  .input {
    margin: 30px 0;
  }

  .input label,
  .input .label {
    font-weight: 700;
    padding: 0 0 5px 0;
  }

  .input select {
    -webkit-appearance: none;
    border-radius: 0;
  }

  .input input[type="password"],
  .input input[type="number"],
  .input input[type="password"],
  .input select {
    padding: 10px;
    border: 1px solid #ccc;
    width: 300px;
    font-size: 20px;
  }

  .submit {
    margin: 40px 0;
  }

  .submit button {
    cursor: pointer;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    background: #0c0;
    font-weight: 700;
  }

  .submit button:hover {
    background: #0b0;
  }

  > span {
    display: block;
    position: absolute;
    top: 8px;
    right: 22px;
    font-size: 50px;
    cursor: pointer;
  }

  > span:hover {
    color: #f00;
  }
}
