.desk-info {
  height: 260px;
  min-height: 260px;
  position: relative;

  .info {
    height: 40px;
    text-align: center;

    > p {
      position: relative;
      display: inline-block;
      padding: 10px 20px;
      background: #ff0;

      strong {
        font-weight: 700;
      }

      a {
        font-weight: 700;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .clock-wrapper {
    width: 100%;
    text-align: center;
    padding: 30px 0 15px 0;

    .clock {
      font-size: 160px;
      display: inline-block;
    }

    .number {
      position: relative;
      display: inline-block;
      top: -33px;
      left: -45px;
      font-size: 50px;
      width: 80px;
      color: #222;

      &:before {
        content: "";
        display: block;
        position: absolute;
        left: -2px;
        top: -17px;
        border: 8px solid #222;
        width: 68px;
        height: 68px;
        -webkit-transform: rotate(45deg);
        z-index: -1;
      }

      &:hover,
      &:hover:before {
        cursor: pointer;
        color: #f00;
        border-color: #f00;
      }
    }
  }
}
