.desks {
  display: none;
  position: absolute;
  z-index: 101;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  min-width: 400px;
  padding: 50px 60px;
  background: #00f;
  color: #fff;
  text-align: left;

  &.is-active {
    display: block;
  }

  > span {
    display: block;
    position: absolute;
    top: 8px;
    right: 22px;
    font-size: 50px;
    cursor: pointer;
  }

  > span:hover {
    color: #f00;
  }

  > h1 {
    font-size: 50px;
    text-align: center;
  }

  > h2 {
    margin: 10px 0 30px 0;
    text-align: center;
  }

  li {
    margin: 10px 0;
  }

  li:before {
    content: "\00a0";
  }

  li:nth-child(9) ~ li:before {
    content: "";
  }

  a:hover {
    text-decoration: underline;
  }

  .student-pair:hover {
    cursor: pointer;
    color: orange;
  }
}
