html {
  height: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

strong {
  font-weight: bold;
}

label {
  display: block;
}

body {
  height: 100%;
  font-size: 18px;
  line-height: 1.0;
  font-family: "Inconsolata", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
  background: #fff;
}

h1, h2 {
  font-family: "Montserrat";
  font-weight: 700;
}

#app {
  height: 100%;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
