html, body, div, h1, h2, section, ul,
li, a, form, label, input, button, img, strong,
header, footer, main, nav, p, strong, em, select {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
  color: inherit;
  background: transparent;
}
