.timer {
  height: 100%;
  flex-grow: 1;

  svg {
    transform: rotate(-90deg);
  }

  circle {
    fill: none;
    stroke-width: 2px;
    stroke: black;
    transition: all 0.2s cubic-bezier(.4,2.08,.55,.44);
  }

  circle.minutes {
    stroke: #FF0000;
    stroke-width: 23px;
  }

  circle.seconds {
    stroke: #FFB3B3;
    stroke-width: 10px;
  }
}