.timer {
  height: 100%;
  flex-grow: 1;
  max-width: 550px;
  min-width: 550px;
  padding-top: 75px;

  .clock-wrapper {
    position: relative;
    width: 500px;
    height: 500px;
    margin: 0;
  }

  .readout {
    font-family: "Montserrat";
    font-weight: 100;
    font-size: 100px;

    .readout-minutes {
      text-align: right;
      position: absolute;
      left: 0;
      bottom: 255px;
      right: 265px;
    }

    .colon {
      text-align: center;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 255px;
    }

    .readout-seconds {
      text-align: left;
      position: absolute;
      right: 0;
      left: 265px;
      bottom: 255px;
    }
  }

  svg.clock {
    transform: rotate(-90deg);
  }

  circle {
    fill: none;
    stroke-width: 2px;
    stroke: black;
    transition: all 0.2s cubic-bezier(.4,2.08,.55,.44);
  }

  circle.back {
    stroke: #F1F1F1;
    stroke-width: 32px;
  }

  circle.minutes {
    stroke: #FF0000;
    stroke-width: 23px;
  }

  circle.seconds {
    stroke: #FFB3B3;
    stroke-width: 9px;
  }

  svg.play-pause {
    position: absolute;
    top: 265px;
    left: 190px;

    path:hover {
      cursor: pointer;
      fill: #FF0000;
    }
  }

  svg.reset {
    display: none;
    position: absolute;
    top: 75px;
    left: 220px;
    transform: rotate(90deg);

    &:hover {
      cursor: pointer;
      fill: #FF0000;
    }
  }

  .handles {
    &.paused {
      .handle {
        height: 25px;
        width: 25px;

        &:hover {
          cursor: pointer;

          .bar {
            background-color: #FF0000;
          }
        }
      }
    }
  }

  .handle {
    position: absolute;
    width: 25px;
    height: 5px;
    transform-origin: 50% 100%;
    transition: all 0.2s cubic-bezier(.4,2.08,.55,.44);

    .bar {
      height: 100%;
      width: 5px;
      margin: 0 auto;
      border-radius: 2.5px;
      background: #E1E1E1;
    }
  }
}
